#cedulas,#contrasenias{
  background-color: transparent;
  border: 2px solid;
  border-radius: 50px 50px;
  width: 70%;
  padding: 25px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
#cedulas::-webkit-input-placeholder { color: white; } 
#contrasenias::-webkit-input-placeholder { color: white; } 
#registro {
  font-size: 15px;
  padding: 10px;
  border: 2px solid transparent;
  margin-bottom: 30px;
  margin-top: 60px;
  border-radius: 20px 20px;
}

#divingre{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
#btnregister{
  float: left;
  right: 140px;
}
#fondo{
  background: #FEAC5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 150px;
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 20px 20px;
}

#ingreso{
  background-color: white;
  color: linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);;
  border: 2px solid transparent;
  border-radius: 50px 50px;
  width: 70%;
  font-size: 20px;
  padding: 9px;
  margin-left: 50px;
}
#recorda{
  margin-left: 50px;
}
#ingre{
  margin-left: 35px;
}
h1{
  text-align: center;
  padding: 15px;
  color: white;
}
/*  */