#foto img{
  float: left;
  width: 35%;
}
#subcontenedor {
  background-color: white;
  height: 800px;
}
h1 {
  text-align: center;
  padding: 35px;
  margin: 25px;
}
label {
  font-size: 20px;
}
#general {
  background-color: black;
}
#general section {
  float: left;
  padding: 20px;
  width: 20%;
}
#boton {
  padding-top: 15px;
}

#elegirOpe {
  margin-left: 30px;
}
