
#cedula,#nombre,#apellido,#username,#password,#celular_usuario,#telefono_usuario,#email_usuario,#direccion_principal,#direccion_secundaria,#codigo_postal{
  background-color: transparent;
  border: 2px solid;
  border-radius: 50px 50px;
  width: 30%;
  padding: 25px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
#cedula::-webkit-input-placeholder { color: white; } 
#nombre::-webkit-input-placeholder { color: white; } 
#apellido::-webkit-input-placeholder { color: white; } 
#password::-webkit-input-placeholder { color: white; } 
#username::-webkit-input-placeholder { color: white; } 
#celular_usuario::-webkit-input-placeholder { color: white; } 
#telefono_usuario::-webkit-input-placeholder { color: white; } 
#email_usuario::-webkit-input-placeholder { color: white; } 
#direccion_principal::-webkit-input-placeholder { color: white; } 
#direccion_secundaria::-webkit-input-placeholder { color: white; } 
#codigo_postal::-webkit-input-placeholder { color: white; } 
h1 {
  text-align: center;
  padding: 35px;
  margin: 25px;
}
label {
  font-size: 20px;
}
#boton {
  padding-top: 15px;
}

